img {
  width: 60px;
}

.offcanvas-header {
  height: 61px;
  background-color: black;
  border-bottom: 1px solid white;
}

.offcanvas-body {
  padding-top: 2rem;
  background-image: url(https://img.freepik.com/premium-vector/tropical-palm-leaves-jungle-leaves-seamless-floral-pattern-black-background-vector_144350-412.jpg);
}
